header {
    text-align: center;
    margin-bottom: 3.5rem;
}

header h1 {
    margin-bottom: -1rem;
}

.container {
    margin-top: 5rem;
}

.addTodo {
    margin-bottom: 0;
}

.filters {
    text-align: center;
    margin-bottom: 3rem;
}

.no-items {
    text-align: center;
}

.task {
    margin-bottom: 1rem;
}

.done-true {
    opacity: 0.66;
}

.date {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    text-align: right;
}

.statusOptions {
    text-decoration: none;
}

.check {
    color: rgb(60, 140, 60);
}

.check:hover {
    color: rgb(100, 180, 100);
}

.cross {
    color: rgb(220, 80, 80);
}

.cross:hover {
    color: rgb(250, 110, 110);
}
