<template name="list">
    <form class="addTodo row">
        <input type="text" class="eight columns offset-by-two newTodo" placeholder="Add a new task&hellip;">
    </form>

    <section class="row four columns offset-by-four filters">
        <label for="incomplete" class="six columns">
            <input type="checkbox" name="filters" id="incomplete" checked>
            Incomplete
        </label>
        <label for="complete" class="six columns">
            <input type="checkbox" name="filters" id="complete">
            Complete
        </label>
    </section>

    <span class="u-cf"></span>

    {{#if todoList.count}}
        {{#each todoList}}
            {{> todo}}
        {{/each}}
    {{else}}
        <section class="row six columns offset-by-three no-items">
            <p>You don't have any incomplete items on your todo list</p>
        </section>
    {{/if}}
</template>
