<template name="todo">
    <section class="three columns">
        <abbr title="{{ formatDateTimestamp createdAt }}" data-livestamp="{{ createdAt.toISOString }}">
            {{ formatDateDisplay createdAt }}
        </abbr>
    </section>

    <section class="seven columns">
        {{ task }}
    </section>

    <section class="two columns">
        <section class="six columns">
            <a href="#" class="statusOptions check">
                ✓
            </a>
        </section>

        <section class="six columns">
            <a href="#" class="statusOptions cross">
                ✕
            </a>
        </section>
    </section>
</template>
