<template name="todo">
    <section class="row task done-{{ done }}">
        <section class="two columns status">
            {{ getStatus done }}
        </section>

        <section class="nine columns">
            {{ task }}

            <abbr title="{{ formatDateTimestamp createdAt }}" data-livestamp="{{ createdAt.toISOString }}" class="u-pull-right">
                {{ formatDateDisplay createdAt }}
            </abbr>
        </section>

        <section class="one column">
            <section class="six columns">
                <a href="#" class="statusOptions check {{ done }}" data-id="{{ _id }}" title="{{ getStatusTitle done }}">
                    {{ getSymbol done }}
                </a>
            </section>

            <section class="six columns">
                <a href="#" class="statusOptions cross" data-id="{{ _id }}" title="Delete task">
                    ✕
                </a>
            </section>
        </section>
    </section>
</template>
